
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: rgba(14, 180, 221, 0.867);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #e4dede;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}